{% extends 'gestion_escolar/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">{{ titulo }}</h1>

    <div class="card shadow mb-4">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="mt-4">
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    <a href="{% url 'tema_list' %}" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}