{% extends 'gestion_escolar/base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Restablecimiento de Contraseña Enviado</h4>
                </div>
                <div class="card-body">
                    <p>Te hemos enviado por correo electrónico las instrucciones para establecer tu contraseña. Deberías recibirlas en breve.</p>
                    <p>Si no recibes un correo electrónico, por favor, asegúrate de haber introducido la dirección con la que te registraste y revisa tu carpeta de spam.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}