{% extends "gestion_escolar/base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
            <h2 class="card-title mb-0">{{ titulo }}</h2>
            <h6 class="card-subtitle mb-2 text-muted">De: {{ mensaje.remitente.get_full_name|default:mensaje.remitente.username }}</h6>
            <small>Recibido: {{ mensaje.fecha_creacion|date:"d/m/Y, H:i A" }}</small>
        </div>
        <a href="{% url 'correspondencia_inbox' %}" class="btn btn-outline-secondary">
            <i class="fas fa-arrow-left me-2"></i>Volver a la Bandeja de Entrada
        </a>
    </div>
    <div class="card">
        <div class="card-body">
            <p>{{ mensaje.cuerpo|linebreaksbr }}</p>
        </div>
    </div>
</div>
{% endblock %}
