{% extends 'gestion_escolar/base.html' %}

{% block content %}
<div class="container-fluid">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Formatos Únicos de Personal (FUP)</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <a href="{% url 'crear_fup' %}" class="btn btn-sm btn-primary">
                    <i class="fas fa-plus"></i> Captura de FUP
                </a>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-success" id="export-excel-fup-btn">
                    <i class="fas fa-file-excel"></i> Exportar a Excel
                </button>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Listado de FUPs</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover" id="tablaFUPs" style="width:100%;" data-ajax-url="{% url 'fup_datatable_ajax' %}">
                    <thead>
                        <tr>
                            <th>Folio</th>
                            <th>Fecha</th>
                            <th>Maestro</th>
                            <th>RFC</th>
                            <th>Clave Presupuestal</th>
                            <th>Techo Financiero</th>
                            <th>Efectos</th>
                            <th>PDF</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Los datos se cargarán via AJAX -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}